<div class="col">
  <div class="card h-100">
    <div class="card-body">
      <h4 class="card-title fw-bold">
        <%= link_to followings.name, user_path(followings), class: 'card-link' %>
      </h4>
      <%= image_tag followings.decorate.avatar, class: 'avatar-xl rounded-circle' %>
      <p><%= render 'relationships/follow_button', user: user %></P>
      <p class="card-text"><%= followings.introduction %></p>
    </div>
  </div>
</div>
     
